body{
    background-color: #f8f8f8;
    display: block;
}

.container{
    width: 100%;
    position: center;
}

.header{
    position: relative;
    height: auto;
    display: block;
    border: 2px solid gold;
    box-sizing: border-box;
    background-color: darkgray;
    /*content: url("img/DxmY9O2WkAEUXk4.jpg");*/
}

#menu{
    list-style-type: none;
    /*text-align: center;*/
    display: inline-block;
    /*position: absolute;*/
    margin-right: 50px;
    margin-top: 100px;
    float: right;
    /*margin-left: 100px;*/
    /*background-image: url("img/DxmY9O2WkAEUXk4.jpg");*/
}

#menu li a:hover{
    color: lightgreen;
}

#menu li{
    display: inline;
}

#menu li > a {
    text-decoration: none;
    color: darkblue;
}

.head_site{
    text-align: center;
    color: black;
    font-weight: 400;
}

.heading{
    background-color: lightgray;
    text-align: left;
}

.catalog_item .heading:first-letter{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

.catalog_product{
    display: inline-block;
}

.picture{
    position: relative;
    display: inline-block;
}

.picture a img{
    width: 300px;
    height: 150px;
}

.link{
    float: right;
    margin-left: 400px;
}

img[title="logotype"]{
    margin-left: 200px;
    margin-top: 10px;
}

img[alt="photo"]{
    width: 200px;
    height: 200px;
    border: 3px solid grey;
}

.img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 3px solid goldenrod;
    margin-top: 10px;
    box-sizing: border-box;
}

.img:hover{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.catalog_item{
    background-color: #eaeaea;
}

.product{
    display: inline;
}

.product a{
    display: inline-block;
}

.dev_description{
    float: right;
}

.description{
    color: #707070;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}

.button:hover{
    text-decoration: none;
    color: cornflowerblue;
}

.button:active{
    color: lawngreen;
}

.total_information{
    color:  #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics{
    list-style-type: none;
    color: black;
    background-color: lightskyblue;
    font-weight: bolder;
    width: 25%;
}

.input{
    width: 250px;
    height: 20px;
    color: blue;
    text-transform: capitalize;
}

.email{
    color: cyan;
    background-color: firebrick;
}

.table_characteristics{
    border: 1px solid red;
}

.table_characteristics tr td{
    border: 3px solid grey;
    width: 20px;
    height: 20px;
}

.map{
    width: 100%;
    height: 374px;
}

.footer{
    height: 60px;
    background-color: cyan;
    text-align: right;
    padding-right: 10px;
    padding-top: 25px;
}

.support{
    margin-top: 0;
}