body{
    background-color: #f8f8f8;
}

#menu{
    list-style-type: none;
    text-align: center;
    border: 2px solid gold;
    background-image: url("img/DxmY9O2WkAEUXk4.jpg");
}

#menu li a:hover{
    color: lightgreen;
}

#menu li > a {
    text-decoration: none;
    color: lightblue;
}

.head_site{
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.heading{
    background-color: lightgray;
    text-align: left;
}

.catalog_item .heading:first-letter{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

.catalog_picture > li > a > img{
    width: 300px;
    height: 150px;
}

img[alt="photo"]{
    width: 200px;
    height: 200px;
    outline: 3px solid grey;
}

.img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 3px solid goldenrod;
}

.img:hover{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.catalog_item{
    background-color: #eaeaea;
}

.description{
    color: #707070;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}

.total_information{
    color:  #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics{
    list-style-type: none;
    color: black;
    background-color: lightskyblue;
    font-weight: bolder;
    width: 25%;
}

.input{
    width: 250px;
    height: 20px;
    color: blue;
    text-transform: capitalize;
}

.email{
    color: cyan;
    background-color: firebrick;
}

.table_characteristics{
    border: 1px solid red;
    /*padding: 10px;*/
}

.table_characteristics tr td{
    border: 3px solid grey;
    width: 20px;
    height: 20px;
}
