* {
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Open Sans', sans-serif;
}

.slider{
    padding-top: 16px;
    height: 720px;
    width: 100%;
    background-image: url("img/2.jpg");
}

.flat{
    background-color: black;
    height: 83px;
    padding-top: 19px;
}

.header{
    margin-top: 19px;
    margin-bottom: 19px;
    /*margin-left: 25%;*/
    display: inline;
}

.heading{
    margin-left: 20%;
    float: left;
}

.clearfix:after{
   content: "";
    display: table;
    clear: both;
}

.header_h2{
    /* Style for "Historical" */
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.36px;
    text-align: left;
}

.header_p{
    color: #ffffff;
    letter-spacing: 22px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 22.36px;
    text-align: left;
    text-transform: uppercase;
}

.content{
    /* Style for "info@examp" */
    margin-left: 9%;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.36px;
    text-align: left;
    float: right;
    /*margin-left: 189px;*/

}

.slider_header{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 30px;
    margin-top: 32px;
    letter-spacing: 12px;

}

.list{
    display: inline;
    margin-right: 78px;
}

.input{
    width: 208px;
    height: 38px;
    /*background-image: url("img/поиск_иконка.png");*/
}

.button_add{
    text-decoration: none;
    color: red;
}

.button{
    height: 32px;
    width: 34px;
}

.button:hover{
    background-color: cornflowerblue;
}

.button_add img{
    height: 38px;
}

.slider_menu{
    text-align: center;
}

.menu_list{
    display: inline;
}

.menu_link{
    text-decoration: none;
    /* Style for "Home" */
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.36px;
    text-align: center;
    /*display: inline-block;*/
}

.menu_link:hover{
    color: crimson;
}

.content_text{
    margin-left: 45%;
    margin-top: 134px;
    width: 110px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    border-bottom: 4px solid black;
}

.content_header{
    /* Style for "Morbi in n" */
    color: #000000;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    margin-top: 76px;
}

.pagination{
    text-align: center;
    margin-top: 66px;
}

.pagination_list{
    border: 2px solid #ffffff;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
}

.pagination_link{
    display: block;
    margin-top: 10px;
}

.pagination_link:hover {
    background-color: cyan;
}

.about_us{
    margin-top: 81px;

}

.div_text{
    float: left;
    margin-top: 14px;
    margin-left: 25%;
}

.header_text{
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}

.text{
    max-width: 398px;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    margin-top: 35px;
}

.clr{
    height: 81px;
}

.about_photo{
    margin-left: 33px;
}

.services{
    background-color: #f7f7f7;
    padding-top: 92px;
}

.services_table{
    margin: auto;
}

.col_header{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: right;
}

.red{
    color: #f44336;
}

.h_center{
    text-align: center;
}

.col_left{
    float: left;
    max-width: 282px;
    margin-left: 100px;
    margin-top: 86px;
}

.center_photo{
    height: 102px;
    width: 102px;
    border: 1px solid #acacac;
    border-radius: 52px;
    background-color: #e1e1e1;
    margin-left: 66px;
    margin-top: 86px;
    justify-content: center;
    display: flex;
}

.red_back{
    background-color: #f44336;
}

.text_right{
    text-align: right;
}

.services_photo{
    margin: 38% 44%;
}

.col_right{
    float: right;
    max-width: 282px;
    margin-top: 86px;
    margin-left: 66px;
}

.gallery_header{
    margin-top: 93px;
}

.gallery_main_catalog{
    justify-content: center;
    display: flex;
    margin-top: 92px;
}

.gallery_catalog{
    margin-left: 19px;
    background-color: #f7f7f7;
}

.gallery_text{
    color: #000000;
    font-family: Arial, cursive ;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23.94px;
    text-align: center;
    margin-top: 19px;
}

.gallery_button{
    background-color: #f44336;
    height: 30px;
    width: 130px;
    margin-left: 25%;
    margin-top: 27px;
}

.gallery_button:hover{
    background-color: cornflowerblue;
}

.testimonial{
    margin-top: 105px;
    background-image: url("img/testimonial/testimonial.jpg");
    background-color: rgba(102, 102, 102, 0.81);
}

.testimonial_header{
    color: #ffffff;
    font-family: Poppins serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
}

.comma{
    justify-content: center;
    display: flex;
    margin-top: 90px;
}

.testimonial_photo{
    opacity: 0.7;
}

.testimonial_content{
    margin-top: 51px;
    display: flex;
    justify-content: center;
}

.testimonial_content_p{
    margin: 0 92px;
    color: #ffffff;
    font-family: Roboto Condensed serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    height: 136px;
    width: 935px;
}

.img_left, .img_right{
    border: 1px solid wheat;
    height: 30px;
    width: 30px;
    display: flex;
}

.arrow{
    width: 11px;
    height: 17px;
    margin: auto auto;
}

.news_header{
    padding-bottom: 106px;
}

.news_header_h1{
    color: #f44336;
    font-family: Poppins serif;
    font-size: 36px;
    font-weight: 1000;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
}

.news_table_header{
    color: #000000;
    font-family: Poppins serif;
    font-size: 24px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.into_shape_number{
    color: #000000;
    font-family: Poppins, serif;
    font-size: 32px;
    font-weight: 1000;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.into_shape_month, .into_shape_year{
    color: #9e9e9e;
    font-family: Poppins serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.into_shape_header{
    color: #f44336;
    font-family: Roboto Condensed serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
}

.into_shape_text{
    color: #9e9e9e;
    font-family: Roboto Condensed serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.feature_text_h4{
    color: #000000;
    font-family: Roboto Condensed serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.feature_text_p{
    color: #505050;
    font-family: Roboto Condensed serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.news_table{
    float: left;
    margin-left: 22%;
}

.shape{
    border: 1px solid #e8e8e8;
    border-radius: 49px;
    height: 139px;
    width: 89px;
    display: block;
    background-color: #f7f7f7;
}

.into_shape{
    margin-left: 34%
}

.shape_text{
    width: 308px;
    margin-left: 67px;
}

.left_right{
    float: right;
    margin-top: -30px;
}

.feature_photo{
    margin-top: 40px
}

.our_team{
    display: flow-root;
    background-color: #f7f7f7;
    padding-top: 98px;
}

.header_team{
    color: #f44336;
    font-family: Poppins - Semi Bold serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
}

.name{
    color: #f44336;
    font-family: Poppins serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.data{
    color: #838383;
    font-family: Roboto Condensed serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.person{
    float: left;
}

.center_person{
    margin-left: 10%;
    margin-top: 61px;
}

.person{
    margin-left: 10px;
}

.social{
    border: 1px solid;
    margin-left: 5px;
}

